* {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}
:root {
  --background-color: #a89494;
  --text-color: #110101;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
.Table {
  z-index: 0;
  max-height: 60vh;
  overflow-y: auto;
}
.Form {
  z-index: auto;
  position: relative;
}
.search_icon {
  position: absolute;
  right: 180px;
}
.side {
  z-index: 10;
}
.image {
  margin-top: -100px;
}
.ul {
  margin-top: 100px;
}
.avatar {
  height: 50px;
  width: 50px;
}
.Font {
  font-size: 50px;
}
.Modal {
  opacity: 0;
  transform: translateY(50%);
  animation: scroll-in 0.5s ease-out forwards;
  scroll-behavior: smooth;
}

@keyframes scroll-in {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
