
* { 
    margin: 0;
    padding: 0;
    -webkit-margin-bottom-collapse:discard   ;
}
.Table { 
    background: black;
    max-height: 75vh;
    overflow-y: auto;
}
.Add { 
    margin-left: 600px;
}
.search_icon { 
    position: absolute;
    right: 180px;
}
.side { 
   z-index: 10;
}
.avatar { 
    height: 50px; 
    width: 50px;
    border: 1px solid black;
}
.Button  {
    margin-top: 13px;
    color: white;
}